:root {
  --fc-border-color: black;
  --fc-daygrid-event-dot-width: 5px;
  --cor-vermelha-senai: #c00000;
  --cor-senai-vermelho: #e30613;
  --cor-preta: #1a1a1a;
  --cor-cinza-escuro: #333333;
  --cor-cinza-medio: #4d4d4d;
  --cor-cinza-claro: #f4f4f4;
  --cor-branca: #ffffff;
  --cor-status-andamento: #ffc107;
  --cor-status-concluido: #28a745;
  --cor-status-aberto: #6c757d;
}

.fc .fc-button-primary {
  background-color: #e30613;
}

.fc .fc-col-header-cell a {
  text-decoration: none;
  color: black;
}

.fc-daygrid-day-top a {
  text-decoration: none;
  color: black;
}

.height-fc {
  height: 100%;
}

.btn-ad-agendamento{
  border: 2px var(--cor-preta) solid;
}

/*modo escuro */

.dark .btn-ad-agendamento{
  border: 2px var(--cor-branca) solid;
  color: var(--cor-branca);
}
